

/* Colors
  very-light-blue: #E5ECF3
  light-blue: #C5D5E4
  med-blue: #2F71B3
  slightly darker med-blue: #2D6BA9
  dark-blue: #16324F
  darker-blue: #162E46
  darkest-blue: #1C2541
  darkest-blue-green: #13293D used for most icons 
  https://webaim.org/resources/contrastchecker/
  light-orange: #f7c654

  media queries
  @media (max-width: 450px) { // phone
  @media (max-width: 1160px) { // ipad-ish
  

*/

.theme-light {
  --small-text: #16324F;
  --big-text: #162E46;
  --main-background: #C5D5E4;
  --box: #E5ECF3;
}

.theme-dark {
  --main-background: #16324F;
  --box: #162E46;
  --big-text: #E5ECF3;
  --small-text: #C5D5E4;
}

body {
  background-color: var(--main-background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* cursor: default; */
  /* background-color: var(--dark-blue); */
 /* background-color: var(--main-background-color); */
}

h1 {
  color: var(--big-text);
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 120%;
  width: 100%;
  text-align: center;
  margin: 0px;
}

h3 {
  margin: 0px;
}

p, ul, li, ol, h2, h3, .link, #footer, #footer>p>a, .footerlink, legend, label {
  color: var(--small-text);
}

p, ul, li, ol {
  margin: 0px;
}

.center { text-align: center; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
/*************** navbar *****************/


#menuButton {
  background-color: transparent;
  border: none;
  margin: none;
  padding: none;
}

.dropdown {
  float: right;
  background-color: var(--main-background);
  color: var(--small-text);
  text-decoration: underline;
  position: relative;
  display: inline-block;
}

.dropdown>p {
  padding: 10px;
}

.dropdownContent {
  display: none;
  position: absolute;
  
  min-width: 105px;

  padding: 12px 10px;
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);
  background-color: var(--main-background);
}

.hidden {
  display: none;
}

.notHidden {
  display: block;
}

#phoneDropdown.notHidden {
  width: 140px;
  background-color: var(--main-background);
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 100;
}

.phoneDropdownLink {
  float: left;
  width: 90%;
}

/* computers and horizontal ipads */
@media (min-width: 660px) {
  .navbar {
    padding: 10px;
    height: 60px;
  }


  #logo {
    display: block;
    float: left;
    width: 140px;
    margin: 0px;
  }
  
  .navbarlink {
    float: right;
    position: relative;
    margin: 10px;
  }


  .navbarButton {
    border: none;
    background-color: var(--main-background);
    font-size: 100%;
    font-weight: normal;
    text-decoration: underline;
    color: var(--small-text);
  }

  .logowave {
    width: 120px;
    height: 30px;
    margin: 3px 0px 0px 0px;
    object-fit: cover;
    object-position: 100% 0px;
  }

  #menu {
    float: right;
  }
  /* #menuButton {
    display: none;
  } */
  .phone-only {
    display: none;
  }

  #toggleButton {
    border: none;
    background-color: var(--main-background);
    float: right;
    margin: 0px;
  }
  
}

/* vertical ipads and phones */
@media (max-width: 660px) {
  .navbar {
    padding: 10px;
    height: 60px;
  }

  #logo {
    display: block;
    float: none;
    width: 140px;
    margin: 0px auto 0px auto;
  }
  
  .navbarlink {
    float: right;
    position: relative;
    margin: 10px;
  }

  .logowave {
    width: 120px;
    height: 30px;
    margin: 3px 0px 0px 0px;
    object-fit: cover;
    object-position: 100% 0px;
  }

  #menu {
    display: none;
  }

/*
  #menuButton {
    display: block;
    float: left;
  }
*/

  .phone-only {

    display: block;
    float: left;
  }

  #toggleButton {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 85%;
  }
  
}



/*************** Home Page General *****************/

.homeRowDark {
  background-color: #16324F;
  width: 100%;
  float: left;
}

.homeRowLight {
  background-color: #E5ECF3;
  width: 100%;
  float: left;
}

h1.homeRowDark {
  color: #E5ECF3;
}

p.homeRowDark, h2.homeRowDark, h3.homeRowDark, h4.homeRowDark, p.homeRowDark>.link {
  color: #C5D5E4;
}

p.homeRowDark, p.homeRowLight {
  line-height: 150%;
}

h2.homeRowLight {
  color: #1C2541;
}

h2.homeRowLight, h2.homeRowDark {
  font-size: 200%;
}

p.homeRowLight, h3.homeRowLight, h4.homeRowLight, p.homeRowLight>.link {
  color: #16324F
}

.innerRow {
  margin: 0px auto 0px auto;
}

/* full computer screen */
@media (min-width: 1120px) {
  .innerRow {
    width: 1100px;
  }

}

/* iPad-ish sizes */
@media (max-width: 1120px) {

  .innerRow {
    width: 100%;
  }

}

/*************** Home Page Row 1 *****************/


#slogan {
  text-align: center;
  font-size: 150%;
  line-height: 150%;
  margin: 0px;
}

#row1col2 {
  position: relative;
}

.hoverWrapper:hover .hoverShow {
  display: block;
}
 
.hoverWrapper .hoverShow {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
 }


/* full computer screen */
@media (min-width: 1120px) {

  h1.homeRowDark {
    font-size: 300%;
  }

  #row1col1 {
    padding: 30px 50px 30px 50px;
  }

  #row1col1 {
    float: left;
    width: 600px;
  }

  #row1col2 {
    float: left;
    width: 390px;
  }

  .naut {
    position: absolute;
    top: 0px;
    left: 0px;
  }

}


/* iPad-ish sizes */
@media (max-width: 1120px) {

  h1.homeRowDark {
    font-size: 300%;
  }

  #innerRow1 {
    /* height: 375px; */
  }

  #row1col1 {
    padding: 30px 50px 30px 50px;
  }

  #row1col1 {
    float: left;
    width: 50%;
  }

  #row1col2 {
    width: 30%;
    float: left;
  }

  .naut {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}

/* ipad held vertically */
@media (max-width: 890px) {
  h1.homeRowDark {
    font-size: 200%;
  }

  #innerRow1 {
    /* height: 300px; */
  }

  #row1col1 {
    padding: 0px;
  }

  #row1col1 {
    width: 100%;
  }

  #row1col2 {
    width: 100%;
  }

  .naut {
    position: relative;
    top: auto;
    left: auto;
    width: 20%;
    /* margin: 0px auto 0px auto; */
    margin: 10px 0px 0px 40%;
  }
  
  #slogan {
    font-size: 100%;
    line-height: 100%;
  }
}

/*************** Home Page Row 2 *****************/

.col1of3>img {
  display: block;
  margin: 10px auto 20px auto;
}

.col1of3>h3 {
  margin: 0px 5px 10px 5px;
  text-align: center;
}

.col1of3>p {
 text-align: center;
}

/* full computer screen */
@media (min-width: 710px) {

  .col1of3 {
    width: 29.33%;
    float: left;
    padding: 30px 2% 30px 2%;
  }

}

/* iPad-ish and iphone size */
@media (max-width: 710px) {
  #innerRow2 {
    background-color: #E5ECF3;
    /* height: 715px; */
  }

  .col1of3 {
    width: 80%;
    float: left;
    padding: 10px 10% 10px 10%;
  }

}

/*************** Home Page Row 3 *****************/
#row3col2>h2 {
  margin-bottom: 20px;
}

#row3col2>p {
  text-align: center;
}

/* full computer screen */
@media (min-width: 1160px) {
  #innerRow3 {
    /* height: 240px; */
  }
  #row3col1 {
    float: left;
    width: 390px;
  }

  #row3col2 {
    float: left;
    width: 600px;
    padding: 40px 0px 30px 50px;
  }

  #homeNumbers {
    margin: 90px auto 0px auto;
  }

  #homeSwap {
    margin: 0px 0px 0px 150px;
    float: left;
  }

}

/* i-pad-ish */
@media (max-width: 1160px) {
  #innerRow3 {
    /* height: 240px; */
  }
  #row3col1 {
    float: left;
    width: 39%;
  }

  #row3col2 {
    float: left;
    width: 60%;
    padding: 40px 0px 30px 0px;
  }

  #homeNumbers {
    margin: 90px auto 0px auto;
  }

  #homeSwap {
    margin: 0px 0px 0px 150px;
    float: left;
  }

}

/* i-pad-ish held vertical-ish */
@media (max-width: 830px) {
  #innerRow3 {
    /* height: 350px; */
  }
  #row3col1 {
    float: left;
    width: 100%;
  }

  #row3col2 {
    float: left;
    width: 100%;
    padding: 0px 0px 30px 0px;
  }

  #homeNumbers {
    margin: 20px auto 0px auto;
    display: block;
    float: none;
  }

  #homeSwap {
    margin: 0px auto 0px auto;
    float: left;
    display: block;
    float: none;
  }

}
/*************** Home Page Row 4 (Teacher Row) *****************/
#row4col1>p {
  text-align: center;
}

#row4col2>h2 {
  margin: 20px 0px 20px 0px;
}

#row4col2>p {
  text-align: center;
}

/* full computer screen */
@media (min-width: 1160px) {
  #innerRow4 {
    /* height: 220px; */
  }

  #row4col1 {
    width: 180px;
    float: left;
    position: relative;
    padding: 0px 25px 30px 25px;
    
  }

  #row4col2 {
    width: 610px; 
    float: left;
    padding: 20px 50px 30px 50px;
   }

   #row4col3 {
    width: 145px;
    float: left;
  }

  #homeBumpyBorder {
    width: 190px;
    margin: 0px;
  }

  #homeTeacher {
    width: 140px;
    margin: 20px 0px 0px 0px;
  }

}

/* i-pad-ish */
@media (max-width: 1160px) {
  #innerRow4 {
    /* height: 220px; */
  }

  #row4col1 {
    width: 14%;
    float: left;
    position: relative;
    padding: 20px 2% 0px 4%;
  }

  #row4col2 {
    width: 55%; 
    float: left;
    padding: 20px 3% 30px 3%;
   }

   #row4col3 {
    width: 14%;
    float: left;
  }

  #homeBumpyBorder {
    width: 100%;
    margin: 0px;
    
  }

  #homeTeacher {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }

}

/* i-pad-ish */
@media (max-width: 980px) {
  #innerRow4 {
    /* height: 220px; */
  }

  #row4col1 {
    width: 25%;
    float: left;
    position: relative;
    padding: 20px 0% 0px 1%;
  }

  #row4col2 {
    width: 70%; 
    float: left;
    padding: 20px 0% 30px 0%;

   }

   #row4col3 {
    width: 1%;
    float: left;
  }

  #homeBumpyBorder {
    width: 100%;
    margin: 0px;
  }

  #homeTeacher {
    display: none;
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
}

/* phone-ish */
@media (max-width: 580px) {
  #innerRow4 {
    /* height: 300px; */
  }

  #row4col1 {
    width: 100%;
    float: left;
    position: relative;
    padding: 0px 0% 0px 0%;
  }

  #row4col2 {
    width: 100%; 
    float: left;
    padding: 0px 0% 30px 0%;

   }

   #row4col3 {
    width: 1%;
    float: left;
  }

  #homeBumpyBorder {
    width: 30%;
    margin: 0px 0% 0px 35%;
    
  }

  #homeTeacher {
    display: none;
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
}

/*************** Home Page Row 5 (Listing all the algorithms) *****************/
/* full computer screen */
@media (min-width: 1160px) {
  #innerRow5 {
    /* height: 300px; */
  }

  #row5col1 {
    width: 150px;
    float: left;
  }

  #row5col2 {
    width: 650px;
    float: left;
    margin: 10px;
    padding: 20px;
  }

  table {
    margin: 20px 0px 0px 0px;
    width: 630px;
  }
  
  td {
    padding: 5px 30px 5px 30px;
    width: 150px;
    color: #16324F;
  }

  #row5col1 {
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite;
  }   

  #row5col1>.link {
    font-size: 150%;
  }

  #row5col2 {
    border: 2px solid #C5D5E4;
  }

}
/* i-pad-ish */
@media (max-width: 1160px) {
  #innerRow5 {
    /* height: 310px; */
  }

  #row5col1 {
    width: 20%;
    float: left;
    margin: 40px 2%;
  }

  #row5col2 {
    width: 65%;
    float: left;
    margin: 10px 0% 10px 0%;
    padding: 2%;
  }

  table {
    margin: 20px 0px 0px 0px;
    width: 100%;
  }
  
  td {
    padding: 5px 30px 5px 30px;
    width: 150px;
    color: #16324F;
  }

  #row5col1>.link {
    font-size: 150%;
  }

  #row5col2 {
    border: 2px solid #C5D5E4;
  }

}

/* i-pad-ish */
@media (max-width: 820px) {
  #innerRow5 {
    /* height: 500px; */
  }

  #row5col1 {
    width: 33%;
    float: left;
    margin: 10px 33%;
    text-align: center;
  }

  #row5col2 {
    width: 100%;
    float: left;
    margin: 10px 0% 30px 0%;
    padding: 0%;
  }

  table {
    margin: 20px 0px 0px 0px;
    width: 100%;
  }
  
  td {
    padding: 5px 30px 5px 30px;
    width: 150px;
    color: #16324F;
  }

  #row5col1>.link {
    font-size: 150%;
  }

  #row5col2 {
    border: none;
  }
  
}

/* i-pad-ish */
@media (max-width: 550px) {
  #innerRow5 {
    /* height: 500px; */
  }

  #row5col1 {
    width: 33%;
    float: left;
    margin: 10px 33%;
    text-align: center;
  }

  #row5col2 {
    width: 100%;
    float: left;
    margin: 10px 0% 20px 0%;
    padding: 0%;
  }

  table {
    margin: 20px 0px 0px 0px;
    width: 100%;
  }
  
  td {
    padding: 2px 10px 2px 10px;
    width: 150px;
    color: #16324F;
  }

  #row5col1>.link {
    font-size: 100%;
  }

  #row5col2 {
    border: none;
  }

}

@keyframes borderBlink {
  from, to {    
    border: none;
    margin: 40px 90px 0px 30px;
  }    
  50% {    
    border: 7px solid #C5D5E4;
    margin: 33px 83px 0px 23px;
  } 
}

#row5col1 {
  background-color: #C5D5E4;
  padding: 20px;
}

#row5col1>h2 {
  background-color: #C5D5E4;
}

#row5col1>.link {
  color: #16324F;
}


/*************** Home Page Row 6 (User quotes) *****************/
/* full computer screen */
@media (min-width: 1160px) {

  #innerRow6 {
    /* height: 460px; */
    padding: 30px 0px 0px 0px;
  }

  #innerRow6>.col1of3{
    background-color: #16324F;
    width: 270px;
    margin: 20px 30px 30px 30px;
    /* height: 290px; */
    float: left;
    padding: 15px;
  }

  #innerRow6>.col1of3>img{
    width: 180px;
    display: block;
    margin: 20px 50px 20px 50px;
  }

}

/* i-pad-ish */
@media (max-width: 1160px) {

  #innerRow6 {
    /* height: 460px; */
    padding: 30px 0px 0px 0px;
  }

  #innerRow6>.col1of3{
    background-color: #16324F;
    width: 25%;
    margin: 20px 2% 30px 2%;
    /* height: 290px; */
    padding: 15px 2%;
    float: left;
  }

  #innerRow6>.col1of3>img{
    width: 70%;
    display: block;
    margin: 20px 15% 20px 15%;
  }

}

/* phone-ish */
@media (max-width: 500px) {

  #innerRow6 {
    /* height: 1025px; */
    padding: 30px 0px 0px 0px;
  }

  #innerRow6>.col1of3{
    background-color: #16324F;
    width: 70%;
    margin: 20px 15% 30px 15%;
    /* height: 250px; */
    float: left;
    padding: 15px 2%;
  }

  #innerRow6>.col1of3>img{
    width: 50%;
    display: block;
    margin: 20px 25% 20px 25%;
  }

}

#innerRow6>h2 {
  margin: 0px 0px 10px 0px;
}

#innerRow6>.col1of3>p {
  color: #C5D5E4;
}

/*************** Login and Create Account Pages *****************/
.loginModal, .createAccountModal {
  background-color: var(--box);
  margin: 20px auto 20px auto;
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);
  position: relative;
}

.loginModal {
  height: 480px; /* 267 */
}

.createAccountModal {
  height: 580px; /* 267 */
}

/*
very-light-blue: #E5ECF3
light-blue: #C5D5E4 */

.createAccountModal>.col1of2 {
  background-color: #E5ECF3;
  height: 580px;
  margin-top: 0px;
}

#leftSidePicCreateAccount {
  margin-top: 100px;
}

.invalidCredentials, .successMsg {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  /*left: 0px;
  top: 0px;*/
}

.invalidCredentials>p {
  color: red;
  text-align: center;
}

.successMsg>p {
  color: green;
  text-align: center;
  font-weight: bold;
}

.col1of2 {
  width: 360px;
  float: left;
}

.leftSidePic {
  width: 100%;
}

.loginModal>.col2of2 {
  float: left;
  width: 280px;
  padding: 60px 40px 20px 40px;
}

.createAccountModal>.col2of2 {
  float: left;
  width: 280px;
  padding: 40px 20px 0px 40px;
}

.loginTitle {
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-size: 140%;
}

.signupTitle {
  text-align: center;
  font-size: 140%;
  margin: 0px 0px 0px 0px;
}

.textInputSmall {
  margin: 20px auto 0px auto;
  display: block;
  border-top: 1px solid var(--box);
  border-left: 1px solid var(--box);
  border-right: 1px solid var(--box);
  border-bottom: 1px solid var(--small-text);
  font-size: 100%;
  background-color: var(--box);
  color: var(--small-text);
  outline: none;
  padding: 2px;
}

.textInput {
  margin: 20px auto 5px auto;
  display: block;
  border-top: 2px solid var(--box);
  border-left: 2px solid var(--box);
  border-right: 2px solid var(--box);
  border-bottom: 2px solid var(--small-text);
  font-size: 120%;
  background-color: var(--box);
  color: var(--small-text);
  outline: none;
  padding: 2px;
}

#passwordRequirements {
  padding-left: 55px;
}
#passwordRequirements>p {
  font-size: 70%;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

/*
.valid:before {
  content: '\2713';
} */

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

/*
.invalid:before {
  content: '\2716';
} */

.checkText:invalid {
  background-color: #fffbcc;
}

.textInput::placeholder, .textInputSmall::placeholder {
  color: var(--small-text);
}

#accountTypeQ {
  margin: 20px 20px 10px 53px;
  border: none;
  padding: 0px;
}



#selectState {
  margin: 20px 0px 0px 53px;
}

select {
  width: 180px;
  margin: 0px 0px 0px 53px;
}

/* 
input[type=text]:focus {
  border: 2px solid yellow;
} */
.textInput[type=text]:focus {
  border: 2px solid var(--small-text);
  outline: none;
}

.textInputSmall[type=text]:focus {
  border: 1px solid var(--small-text);
  outline: none;
}

.loginButton {
  border: none;
  background-color: var(--small-text);
  color: var(--box);
  font-size: 120%;
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
  margin: 60px auto 50px auto;
  display: block;
}

.createAccountButton {
  border: none;
  background-color: var(--small-text);
  color: var(--box);
  font-size: 120%;
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
  margin: 20px auto 20px auto;
  display: block;
}

#forgotPasswordLink {
  font-size: 80%;
  margin: 0px 20px 0px 0px;
  width: 200px;
  text-align: right;
  float: right;
}

.smallText {
  font-size: 80%;
  width: 100%;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.signup {
  text-align: left;
  margin: 110px;
}

#dontHaveOne {
  width: 250px;
  margin: 0px 0px 0px 20px;
  font-size: 80%;
}

/* full computer screen */
@media (min-width: 750px) {

  .loginModal, .createAccountModal {
    width: 720px
  }
  
  .col1of2 {
    display: block;
  }
  
}

/* i-pad-ish */
@media (max-width: 750px) {

  .loginModal, .createAccountModal {
    width: 360px;
  }
  
  .col1of2 {
    display: none;
  }
}

/* phone-sized */
@media (max-width: 400px) {

  .loginModal, .createAccountModal {
    width: 98%;
  }
  
  .col1of2 {
    display: none;
  }
}




/*************** Lesson Page: General *****************/

.lesson {
  position: relative;
  width: 1020px;
  height: 650px;
  margin: 0px auto 20px auto;
}

#activity {
  width: 1020px;
  height: 435px;
  margin: auto;
}

/* monkey */
#activityHint {
  text-align: center;
  width: 500px;
  background-color: #f7c654;
  color: #16324F;
  padding: 10px;
  margin: 70px auto 0px auto;
  border-radius: 10px;
}

#sortSection, #yourMoves, #feedback {
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  background-color: var(--box);
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);
}

.critter {
  position: absolute;
  width: 200px;
  top: 390px;
  left: 830px;
}

/*************** Lesson Page: sortSection *****************/

#sortSection {
  width: 580px;
  float: left;
  margin-right: 20px;
  height: 415px;
}

#activity>h1 {
  margin: 10px;
}

#demoCanvas {
  display: block;
  margin: 50px auto 0px auto;
}

/*************** Lesson Page: yourMoves *****************/


#yourMoves {
  width: 380px;
  height: 415px;
  float: left;
  font-size: 90%;
}
#yourMoves>h2 {
  margin: 30px 0px 20px 0px;
}

#hints {
  width: 500px;
  height: 130px;
  float: left;
}

/*************** Lesson Page: Toolbox *****************/

#toolbox{
  width: 1000px;
  padding: 10px;
  margin: 20px auto 10px auto;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 

  background-color: var(--box);
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);

}

#toolbox>h2 {
  width: 100%;
  margin: 0px 0px 10px 0px;
}

.toolboxButton {
  background-color: #C5D5E4;
  border-radius: 5px;
  font-size: 15px;
  color: #16324F;
  margin-right: 20px;
  border: 2px solid #C5D5E4;
  padding: 4px 8px 4px 1px;
  -moz-box-shadow: inset 0 0 10px #E5ECF3;
  -webkit-box-shadow: inset 0 0 10px #E5ECF3;
  box-shadow: inset 0 0 10px #E5ECF3;
}

.toolboxButton>img {
  float: left;
  width: 20px;
  margin: 0px 5px 0px 0px;
}

.toolboxButton:hover {
  -moz-box-shadow: inset 0 0 5px #16324F;
  -webkit-box-shadow: inset 0 0 5px #16324F;
  box-shadow: inset 0 0 5px #16324F;
}

.activeTool {
  -moz-box-shadow: inset 0 0 5px #16324F;
  -webkit-box-shadow: inset 0 0 5px #16324F;
  box-shadow: inset 0 0 5px #16324F;
  border: 2px solid #C5D5E4;
}

.toolboxButton:disabled {
  /* a2b0bd
  818c96 */
  background-color: #a2b0bd;
  border: 2px solid #a2b0bd;
  
  -moz-box-shadow: inset 0 0 5px #a2b0bd;
  -webkit-box-shadow: inset 0 0 5px #a2b0bd;
  box-shadow: inset 0 0 5px #a2b0bd;

}

/* If the activeTool matches the tool's ID give it an inner shadow
   so it's visually obvious that this is the active tool */
#Swap.Swap, #markSorted.markSorted, #Insert.Insert{
  -moz-box-shadow: inset 0 0 5px #16324F;
  -webkit-box-shadow: inset 0 0 5px #16324F;
  box-shadow: inset 0 0 5px #16324F;
  border: 2px solid #C5D5E4;
}

.largeQ {
  font-size: 150%;
}
/*************** Lesson Page: Feedback *****************/

#feedback {

  /* 
  position: absolute;
  width: 1020px;
  height: 640px;
  top: 0px;
  left: 0px;
*/
  margin: 10px;
  width: 980px;
  height: 540px;
  background-color: var(--box);
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
}
#correctFeedback {
  position: absolute;
  top: 450px;
  left: 360px;
}

#greatJob {
  margin-top: 20px;
  font-size: 300%;
  color: #6bb478;
  float: left;
}

#incorrectFeedback{
  position: absolute;
  top: 450px;
  left: 360px;
}

#incorrectFeedback>button {
  border: 8px solid #e38282;
  animation: grow 0.5s ease-in-out 2;
  float: left;
  margin-top: 20px;
}

.feedbackImg {
  width: 100px;
  float: left;
}


.movesList {
  margin: 20px 40px 0px 20px;
} 

#movesListLeft {
  float: left;
  width: 220px;
  margin: 20px 0px 0px 250px;
}
#movesListRight {
  float: right;
  width: 220px;
  margin: 20px 250px 0px 20px;
}

.submissionFeedbackReturn {
  position: absolute;
  top: 530px;
  left: 380px;
  text-align: center;
}



/*************** Lesson Page: Modals *****************/

#videoModal {
  position: absolute;
  width: 1020px;
  height: 590px;
  top: 0px;
  left: 0px;
  margin: 0px;
  background-color: black;
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}

#helpModal {
  position: absolute;
  width: 500px;
  height: 120px;
  top: 270px;
  left: 250px;
  background-color: #f7c654;
  border-radius: 10px;
  padding: 10px;
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);
}

#helpModal>h2 {
  color: #16324F;
  width: 130px;
  margin: 0px auto 20px auto;
}

#helpModal>p {
  color: #16324F;
  text-align: center;
}

.helpArrow {
  position: absolute;
  /* transform: rotate(3.142rad); */
  /* transform: rotate(45deg); */
  width: 84px;
  /* animation: growRotate45 1s ease-in-out infinite; */
  /* animation: slide1 1s ease-in-out infinite; */
  /* animation: blinker 1s linear infinite; */
  /* animation: grow 1s ease-in-out infinite; */
}

/*
@keyframes slide1 {
  0%, 100% {
    transform: translate(0px, 0) rotate(45deg);
  }
  50% {
    transform: translate(10px, 0) rotate(45deg);
  }
} */

@keyframes grow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes growRotate45 {
  0%, 100% {
    transform: scale(1) rotate(45deg);
  }
  50% {
    transform: scale(1.2) rotate(45deg);
  }
}

@keyframes growRotate90 {
  0%, 100% {
    transform: scale(1) rotate(90deg);
  }
  50% {
    transform: scale(1.2) rotate(90deg);
  }
}

@keyframes growRotate270 {
  0%, 100% {
    transform: scale(1) rotate(270deg);
  }
  50% {
    transform: scale(1.2) rotate(270deg);
  }
}

/* 
@keyframes blinker {
  50% {
    opacity: 50%;
  }
} */

.closeButton {
  position: absolute;

}

#closeVideo {
  top: 0px;
  left: 996px;
}

#closeHelp {
  top: 10px;
  left: 485px;
}

.nextButton {
  position: absolute;
  top: 110px;
  left: 240px;
}

iframe {
  width: 1020px;
  height: 590px;
  border: none;
  
}

/*************** Dashboard *****************/
.dashboard {
  padding: 40px;
  width: 820px;
  margin: auto;
}

#dashboardWelcome {
  font-size: 200%;
  font-weight: bold;
}

.dashboardHeading {
  width: 300px;
  float: left;

}

.dashboardHeading>h1 {
  text-align: left;
  font-size: 100%;
}

#dashboardImg {
  width: 100px;
  float: right;
}

.dashboardSection {
  background-color: var(--box);
  border: 2px solid var(--small-text);
  margin: 20px 0px 20px 0px;
  float: left;
}

#dashboardAssignments {
  width: 800px;
}

#dashboardPractice {
  width: 430px;
  padding: 0px 0px 15px 0px;
}

.dashboardSectionTitle {
  background-color: var(--small-text);
  padding: 5px 10px 5px 10px;
  height: 28px;
}

.dashboardSectionTitle>h2 {
  color: var(--main-background);
  text-align: left;
  float: left;
  width: 200px;
}
.dashboardSectionTitle>label {
  text-align: right;
  float: right;
  color: var(--main-background);
}

.dashboardSectionTitle>input {
  float: right;
  /* border: 4px solid var(--main-background); */
}

.dashboardSection>p {
  text-align: center;
  margin: 10px;
}
.dashboardSection>table {
  border-collapse: collapse;
  width: 400px;
  margin: 10px 15px 10px 15px;
}


.dashboardSection>table>tbody{

}

.tableCol2 {
  width: 60px;
}

.dashboardSection>table>tbody>tr {
  border-bottom: 1px solid var(--small-text);
  
}

.dashboardSection>table>tbody>tr>th {
  text-align: left;
  color: var(--small-text);
  
  border-bottom: 2px solid var(--small-text);
  margin: 0px;
  padding: 10px 10px 0px 10px;
}

.dashboardSection>table>tbody>tr>td {
  color: var(--small-text);
  padding: 10px 10px 0px 10px;
  
}
/*************** Footer *****************/
#footer {
  width: 100%;
  float: left;

  /* fixes it to bottom but this only looks good on short pages
  position:fixed;
  bottom:0;
  left:0; */

  text-align: center;
  font-size: 80%;
  background-color: var(--main-background);
  padding: 10px 0px 10px 0px;
}

#footer>p>a {
  /* color: var(--light-blue); */
  margin: 10px;
}

.footerlink {
  /* color: var(--light-blue); */
  margin: 10px;
}

/*************** Not Found *****************/

.notFound {
  text-align: center;
}

.notFound>img {
  margin: 40px auto 40px auto;
  display: block;
  width: 200px;
}
.notFound>h2 {
  margin-top: 70px;
}

.notFound>h2 {
  margin-top: 70px;
}





