

/* Colors
  very-light-blue: #E5ECF3
  light-blue: #C5D5E4
  med-blue: #2F71B3
  dark-blue: #16324F
  darker-blue: #162E46
  darkest-blue: #1C2541
  darkest-blue-green: #13293D used for most icons 
  https://webaim.org/resources/contrastchecker/

*/

.theme-light {
  --small-text: #16324F;
  --big-text: #162E46;
  --main-background: #C5D5E4;
  --box: #E5ECF3;
}

.theme-dark {
  --main-background: #16324F;
  --box: #162E46;
  --big-text: #E5ECF3;
  --small-text: #C5D5E4;
}

body {
  background-color: var(--main-background);
}

#activity, #toolbox {
  background-color: var(--box);
  -moz-box-shadow: 0 0 10px var(--small-text);
  -webkit-box-shadow: 0 0 10px var(--small-text);
  box-shadow: 0 0 10px var(--small-text);
}

h1 {
  color: var(--big-text);
}

p, ul, li, ol, h2, h3, .link, #footer, #footer>p>a, .footerlink {
  color: var(--small-text);
  /* color: white; */
}






/*
.toolboxButton {
  background-color: var(--small-text);
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: var(--main-background);
  margin-right: 20px;
  border: 2px solid var(--big-text);
  padding: 6px 8px 6px 8px;
  -moz-box-shadow: inset 0 0 10px var(--big-text);
  -webkit-box-shadow: inset 0 0 10px var(--big-text);
  box-shadow: inset 0 0 10px var(--big-text);
}

.toolboxButton:hover {
  border: 2px solid var(--small-text);
}

.toolboxButton:focus {
  -moz-box-shadow: inset 0 0 5px var(--main-background);
  -webkit-box-shadow: inset 0 0 5px var(--main-background);
  box-shadow: inset 0 0 5px var(--main-background);
  border: 2px solid var(--small-text);
}

*/

.toolboxButton>img {
  float: left;
  width: 20px;
  margin: 0px 5px 0px 0px;
  /* filter: brightness(10%); */
  /*
  -webkit-filter: yellow;
  filter: yellow; */
  /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
  /* filter: saturate(yellow, 5); */
  /* color: red; */
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: default; */
  /* background-color: var(--dark-blue); */
 /* background-color: var(--main-background-color); */
}

h1 {
  /*color: var(--very-light-blue);*/
  width: 100%;
  text-align: center;
}

h2 {
  /*color: var(--light-blue);*/
  width: 100%;
  text-align: center;
  margin: 0px;
}
h3 {
  /*color: var(--light-blue);*/
  margin: 0px;
}
p, ul, li, ol {
  /*color: var(--light-blue);*/
  margin: 0px;
}

.link {
  /*color: white;*/
}

.center { text-align: center; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  margin: 0px;
  padding: 0px;
  text-align: left;
}
/*************** Navbar *****************/
#toggleButton {
  border: none;
  background-color: var(--main-background);

}

.navbar {
  padding: 10px;
  height: 60px;

}

#logo {
  display: block;
  float: left;
  width: 140px;
  margin: 0px;
}


.navbarlink {
  float: right;
  position: relative;
  margin: 10px;
}

#toggleButton {
  float: right;
}

.logowave {
  width: 120px;
  height: 30px;
  margin: 3px 0px 0px 0px;
  object-fit: cover;
  object-position: 100% 0px;
}

/*************** Lesson Page *****************/
#activity {

  width: 1000px;
  height: 500px;
  margin: auto;
  padding: 10px;
  /* border-style: solid 2px blue; */
  /* background-color: var(--darker-blue); */
   
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 

  /* 
  -moz-box-shadow: 0 0 10px var(--light-blue);
  -webkit-box-shadow: 0 0 10px var(--light-blue);
  box-shadow: 0 0 10px var(--light-blue); */
}

#demoCanvas {
  margin-bottom: 25px;

  /* width: 1000px;
  height: 100px;*/
  /* margin: 10px;*/
  /* border-style: solid;
  border-width: 2px;
  border-color: green; */
  /* background-color: #000922; */
  /* cursor: all-scroll;*/
  /* cursor: url(https://www.schoolservice.com/image/cache/data/product/469-800x800.jpg), auto; */
}

#yourMoves {
  width: 420px;
  height: 400px;
  float: left;
  margin-right: 20px;
  font-size: 90%;

}

#hints {

  width: 500px;
  height: 130px;
  float: left;
}

.critter{

  float: right;
  width: 200px;
}

.Merge{
  cursor: s-resize;
 }

.Swap{
 /* cursor: all-scroll; monkey */
 /* cursor: url('../img/swap1.png'),url('../img/swap.cur'), all-scroll;*/

}

#greatJob {
  font-size: 150%;
  color: orange;
}


.movesList {
  float: left;
  width: 49%;
} 

#toolbox{
  width: 1000px;
  padding: 10px;
  margin: 30px auto 10px auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}

.toolboxButton {
  background-color: #C5D5E4;
  border-radius: 5px;
  font-size: 15px;
  color: #16324F;
  margin-right: 20px;
  border: 2px solid #E5ECF3;
  padding: 4px 8px 4px 1px;
  -moz-box-shadow: inset 0 0 10px #E5ECF3;
  -webkit-box-shadow: inset 0 0 10px #E5ECF3;
  box-shadow: inset 0 0 10px #E5ECF3;
}

.toolboxButton:hover {
  border: 2px solid #C5D5E4;
}

.activeTool {
  -moz-box-shadow: inset 0 0 5px #16324F;
  -webkit-box-shadow: inset 0 0 5px #16324F;
  box-shadow: inset 0 0 5px #16324F;
  border: 2px solid #C5D5E4;
}

/* If the activeTool matches the tool's ID give it an inner shadow
   so it's visually obvious that this is the active tool */
#Swap.Swap, #markSorted.markSorted, #Insert.Insert{
  -moz-box-shadow: inset 0 0 5px #16324F;
  -webkit-box-shadow: inset 0 0 5px #16324F;
  box-shadow: inset 0 0 5px #16324F;
  border: 2px solid #C5D5E4;
}




/*************** Footer *****************/
#footer {
  width: 100%;
  /* position:absolute; */
  bottom:0;
  height:40px;
  text-align: center;
  font-size: 80%;
  /* color: var(--light-blue); */
}

#footer>p>a {
  /* color: var(--light-blue); */
  margin: 10px;
}

.footerlink {
  /* color: var(--light-blue); */
  margin: 10px;
}

/*************** Not Found *****************/

.notFound {
  text-align: center;
}

.notFound>img {
  margin: 40px auto 40px auto;
  display: block;
  width: 200px;
}
.notFound>h2 {
  margin-top: 70px;
}

.notFound>h2 {
  margin-top: 70px;
}





